<div>
          <div data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
            <% if lang.to_s == 'fr' %>
            <div id="programmation" class="tab-menu w-tab-menu">
              <% dato.journees.each_with_index do |jour, index| %>
              <a data-w-tab="Tab <%= index %>" class="tab-link w-inline-block w-tab-link <% if index == 0 %> w--current <% end %>" <% if index != 0 %> href="#programmation" <% end %>>
                <div><%= jour.titre %></div>
              </a>
              <% end %>
            </div>
            <% elsif lang.to_s == 'en' %>
            <div id="program" class="tab-menu w-tab-menu">
              <% dato.journees.each_with_index do |jour, index| %>
              <a data-w-tab="Tab <%= index %>" class="tab-link w-inline-block w-tab-link <% if index == 0 %> w--current <% end %>" <% if index != 0 %> href="#program" <% end %>>
                <div><%= jour.titre %></div>
              </a>
              <% end %>
            </div>
            <% end %>
            <div class="tabs-content w-tab-content">
              <% dato.journees.each_with_index do |jour, index| %>
              <div data-w-tab="Tab <%= index %>" class="tab w-tab-pane <% if index == 0 %> w--tab-active<% end %>">
                <div class="div-33">
                  <div class="div-third-full">
                    <div class="titre-jour"><%= jour.titre %></div>
                  </div>
                  <div class="div-third-full">
                        <% dato.evenements.sort_by(&:position).select{ |h| h.journee == jour }.each_with_index do |event, index| %>
                        <% if event.salle %>
                        <% if event.salle.conference %>

                            <div class="div-third">
                              <div class="salle-titre"><%= event.salle.titre %></div>
                              <div class="titre-event">
                                <% content_tag :p, :class => "titre-event" do %>
                                  <%= strip_tags(event.titre) %>
                                <% end %>
                              </div>
                              <div class="main-conf">

                                  <% event.conference.each do |conference| %>
                                  <div class="div-third-full"  data-ix="open-description">
                                    <div class="timeline">
                                      <div class="titre-heure"><%= conference.heure %></div>
                                    </div>
                                    <div class="content-event">

                                      <div class="avatar">
                                        <% if conference.conferencier.image %>
                                        <img src="<%= conference.conferencier.image.file.auto('format').fit('crop').crop('edges').lossless('true').width(40).height(40).q(56).to_url %>" alt="" class="avatar-photo">
                                        <% end %>
                                        <div class="titre-conf"><%= conference.conferencier.titre %><br><span class="fonction-conf"><%= conference.conferencier.fonction %></span></div>
                                      </div>
                                      <% if conference.description != "" %>
                                      <div class="plus-sign div-block" data-ix="open-description-plus">
                                        <div>+</div>
                                      </div>
                                      <% end %>
                                      <% if conference.titre != "" %>
                                      <% content_tag :p, :class => "sous-titre-event" do %>
                                        <%= strip_tags(conference.titre) %>
                                      <% end %>
                                      <% end %>
                                        <% if conference.description != "" %>
                                        <% content_tag :p, :class => "paragraph-description" do %>
                                          <%= strip_tags(conference.description) %>
                                        <% end %>
                                        <% end %>
                                    </div>
                                  </div>
                                  <% end %>
                                </div>
                            </div>

                        <% else %>
                        <% if event.conference.count != 0 %>
                        <% event.conference.each do |conference| %>
                        <div class="div-third-full <% if event.titre.include?("Pause") %> pause <% end %> <% if event.titre.include?("Mot") %> pause <% end %><% if event.titre.include?("break") %> pause <% end %>">

                          <div class="timeline">
                            <div class="titre-heure"><%= event.heure %></div>
                          </div>
                          <div class="content-event">
                              <% content_tag :p, :class => "titre-event" do %>
                                <%= strip_tags(event.titre) %>
                              <% end %>
                            <% if event.salle %>
                            <p><%= event.salle.titre %></p>
                            <% end %>
                            <% if conference.description != "" %>
                            <div class="plus-sign div-block" data-ix="open-description-plus">
                              <div>+</div>
                            </div>
                            <% end %>
                            <%= conference.titre %>
                            <% if conference.description != "" %>
                            <div class="texte-event"><%= strip_tags(conference.description) %>1</div>
                            <% end %>

                          </div>
                        </div>
                        <% end %>
                        <% else %>
                        <div class="div-third-full <% if event.titre.include?("Pause") %> pause <% end %> <% if event.titre.include?("Mot") %> pause <% end %><% if event.titre.include?("break") %> pause <% end %>">

                          <div class="timeline">
                            <div class="titre-heure"><%= event.heure %></div>
                          </div>
                          <div class="content-event">
                            <div class="titre-event">
                              <% content_tag :p, :class => "titre-event" do %>
                                <%= strip_tags(event.titre) %>
                              <% end %>
                            </div>
                            <p><%= event.salle.titre %></p>

                          </div>
                        </div>
                        <% end %>

                        <% end %>
                        <% else %>
                        <% if event.journee == jour %>
                        <% if event.conference.count != 0 %>
                        <% event.conference.each do |conference| %>

                        <div class="div-third-full <% if event.titre.include?("Pause") %> pause <% end %><% if event.titre.include?("Dîner") %> pause <% end %> <% if event.titre.include?("break") %> pause <% end %>">

                          <div class="timeline">
                            <div class="titre-heure"><%= conference.heure %></div>
                          </div>
                          <div class="content-event">
                            <div>
                              <% content_tag :p, :class => "titre-event", 'data-ix' => "open-description"  do %>
                                <%= strip_tags(event.titre) %>
                              <% end %>

                              <% if conference.description != "" %>
                              <div class="plus-sign div-block" data-ix="open-description-plus">
                                <div>+</div>
                              </div>
                              <% end %>
                              <%= conference.titre %>
                              <% if conference.description != "" %>
                              <% content_tag :p, :class => "paragraph-description paragraph-2" do %>
                                <%= strip_tags(conference.description) %>
                              <% end %>
                              <% end %>
                            </div>
                            <% if event.salle %>
                            <p><%= event.salle.titre %></p>
                            <% end %>
                            <% if conference.conferencier %>
                            <% if conference.conferencier.image %>
                            <div class="avatar">
                              <img src="<%= conference.conferencier.image.file.auto('format').fit('crop').crop('edges').lossless('true').width(40).height(40).q(56).to_url %>" alt="" class="avatar-photo">
                              <div class="titre-conf"><%= conference.conferencier.titre %><br><span class="fonction-conf"><%= conference.conferencier.fonction %></span></div>
                            </div>
                            <% end %>
                            <% end %>

                            <% if conference.description != "" %>
                            <div class="texte-event"><%= conference.description %></div>
                            <% end %>
                          </div>
                        </div>

                        <% end %>
                        <% else %>
                        <div class="div-third-full <% if event.titre.include?("Pause") %> pause <% end %><% if event.titre.include?("Dîner") %> pause <% end %> <% if event.titre.include?("break") %> pause <% end %>">
                          <div class="timeline">
                            <div class="titre-heure"><%= event.heure %></div>
                          </div>
                          <div class="content-event">
                            <div>
                              <% content_tag :p, :class => "titre-event" do %>
                                <%= strip_tags(event.titre) %>
                              <% end %>
                              <% event.conference.each do |conference| %>

                              <% if conference.description != "" %>
                              <div class="plus-sign div-block" data-ix="open-description-plus">
                                <div>+</div>
                              </div>
                              <% end %>
                              <%= conference.titre %>
                              <% if conference.description != "" %>
                              <% content_tag :p, :class => "paragraph-description paragraph-2" do %>
                                <%= strip_tags(conference.description) %>
                              <% end %>
                              <% end %>
                              <% end %>

                            </div>
                            <% if event.salle %>
                            <p><%= event.salle.titre %></p>
                            <% end %>
                          </div>
                        </div>
                        <% end %>
                        <% end %>

                        <% end %>
                        <% end %>

                  </div>

                </div>
              </div>
              <% end %>

            </div>
          </div>

        </div>
