<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar-scroll w-nav">
  <a href="/" class="brand w-nav-brand w--current"><img src="/images/vecteur_logo_temporaire.png" alt=""></a>
  <nav role="navigation" class="nav-menu float-right w-nav-menu">
    <% dato.sections.each do |section| %>
    <% if section.page_unique %>
    <% dato.publications.each do |publication| %>
    <% if publication.langue.title == "fr" %>
    <% if publication.section.actif %>
    <% if publication.section.page_unique %>
    <a href="/<%= publication.section.slug %>/<%= publication.slug %>" class="nav-link w-nav-link"><%= publication.section.titre %></a>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
    <% else %>
    <a href="/#<%= section.slug %>" class="nav-link w-nav-link"><%= section.titre %></a>
    <% end %>
    <% end %>

    <div class="div-separator"></div>
    <a href="/home" class="nav-link w-nav-link">EN</a>
  </nav>
  <div class="menu-button w-nav-button" data-ix="menu-button">
    <div class="div-bar">
      <div class="top-line"></div>
      <div class="middle-line"></div>
      <div class="bottom-line"></div>
    </div>
  </div>
</div>
<div
data-collapse="medium"
data-animation="default"
data-duration="400"
class="navbar w-nav"
data-ix="menu-scroll">
  <nav role="navigation" class="nav-menu w-nav-menu">
    <% dato.sections.each do |section| %>
    <% if section.page_unique %>
    <% dato.publications.each do |publication| %>
    <% if publication.langue.title == "fr" %>
    <% if publication.section.actif %>
    <% if publication.section.page_unique %>
    <a href="/<%= publication.section.slug %>/<%= publication.slug %>" class="nav-link w-nav-link"><%= publication.section.titre %></a>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
    <% else %>
    <a href="/#<%= section.slug %>" class="nav-link w-nav-link"><%= section.titre %></a>
    <% end %>
    <% end %>
    <div class="div-separator"></div>
    <a href="/home" class="nav-link w-nav-link">EN</a>
  </nav>
  <div class="menu-button w-nav-button" data-ix="menu-button">
    <div class="div-bar">
      <div class="top-line"></div>
      <div class="middle-line"></div>
      <div class="bottom-line"></div>
    </div>
  </div>
</div>
