
<div id="hero" data-w-id="f117c11b-e838-a0eb-e4b0-88be7b4f2758" class="section hero">
  <div class="div-baseline"><img src="/images/logo.png" data-w-id="458db7a9-b972-4d51-f373-86d0763ab1bc" style="opacity:0;-webkit-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="hero-logo">
    <div data-w-id="d55a193c-60db-eda4-2514-bf99862d2c62" style="opacity:0" class="text-date"><%= dato.accueil.slogan %></div>
    <% if dato.accueil.titre_bouton == "" %>
    <a data-w-id="27934c59-3448-b2ae-8fc3-e04801fd3c3e" style="opacity:0" href="#<%= dato.accueil.section_bouton.slug %>" target="_blank" class="button w-inline-block">
      <div><%= dato.accueil.titre_bouton %></div>
    </a>
    <% end %>
  </div>
  <div class="div-background-hero"><img src="/images/white.png" srcset="/images/white-p-500.png 500w, /images/white-p-800.png 800w, /images/white-p-1080.png 1080w, /images/white-p-1600.png 1600w, /images/white-p-2000.png 2000w, /images/white-p-2600.png 2600w, /images/white-p-3200.png 3200w, /images/white.png 3812w" sizes="100vw" data-w-id="110655bf-4d65-bbe1-09c0-744c9c89e17d" style="opacity:0" alt="" class="background-image"></div>
  <div class="div-sponsors-hero">
    <div data-w-id="96098b8d-4fd6-1218-71ad-b399adbe0f61" style="opacity:0" class="div-50 sponsor">
      <div><%= dato.accueil.organise_par %></div><a href="http://www.cidco.ca/" target="_blank" class="link-sponsor w-inline-block"><img src="/images/cidco_blanc.png" alt=""></a><a href="http://www.cgq.qc.ca/fr/" target="_blank" class="link-sponsor w-inline-block"><img src="/images/cgo.png" alt=""></a></div>
    <div data-w-id="27a6c7cf-6cb1-b19d-36dd-fadab3e40cf1" style="opacity:0" class="div-50 sponsor">
      <div><%= dato.accueil.partenariat %>:</div>
      <a href="https://tmq.ca/" target="_blank" class="link-sponsor tmq w-inline-block"><img src="/images/TMQ_blanc.png" alt=""></a>
    </div>
  </div>
</div>
