<div class="section blog">
  <div id="w-node-4441152fa19f-cb55298f" class="div-background"><img src="images/grey.png" srcset="images/grey-p-500.png 500w, images/grey-p-800.png 800w, images/grey-p-1080.png 1080w, images/grey-p-1600.png 1600w, images/grey-p-2000.png 2000w, images/grey-p-2600.png 2600w, images/grey.png 3812w" sizes="100vw" alt="" class="background-image sujets"></div>

  <!-- BREADCRUMB -->
  <div class="div-breadcrumb">

    <div><a href="/home" class="breadcrumb-link">Home</a></div>

    <div class="div-separator-breadcrumb"></div>
    <div><a href="l-appel-a-communication-est-commence.html" class="breadcrumb-link w--current"><%= publication.titre %></a></div>
  </div>

  <!-- PUBLICATION -->
  <div class="div-blog-post-container">
    <h1 class="nouvelle-heading"><%= publication.titre %></h1>
    <div class="nouvelle-date"><%= publication.date %></div>
    <div>
      <% publication.contenu.each do |contenu| %>
      <% if contenu.item_type.api_key != "bouton" %>
      <%= contenu.description %>
      <% end %>
      <% end %>
      <% publication.contenu.each do |contenu| %>
      <% if contenu.item_type.api_key == "bouton" %>
      <a href="<%= contenu.lien_externe %>" class="button yellow w-inline-block">
        <div><%= contenu.titre %></div>
      </a>
      <% end %>
      <% end %>

    </div>
  </div>
</div>
