<div class="section blog">
  <div id="w-node-4441152fa19f-cb55298f" class="div-background"><img src="/images/grey.png" srcset="images/grey-p-500.png 500w, images/grey-p-800.png 800w, images/grey-p-1080.png 1080w, images/grey-p-1600.png 1600w, images/grey-p-2000.png 2000w, images/grey-p-2600.png 2600w, images/grey.png 3812w" sizes="100vw" alt="" class="background-image sujets"></div>

  <!-- BREADCRUMB -->
  <div class="div-breadcrumb">

    <div><a href="/<%= locale %>/" class="breadcrumb-link">Accueil</a></div>


    <div class="div-separator-breadcrumb"></div>
    <div>

  </div>
</div>

  <!-- PUBLICATION -->
  <div class="div-blog-post-container">
    <h2 ><%= item.titre %></h2>
    <%= item.fonction %><br /><br />
    <div>
      <div class="w-richtext">

      <figure class="w-richtext-align-normal w-richtext-figure-type-image">
        <div><img src="<%= item.image.file.auto('format').fit('fill').width(500).height(500).q(56).to_url %>" alt=""></div>
      </figure><br /><br />
      <%= item.description %>

      </div>

    </div>
  </div>
</div>
