<div id="hero" data-w-id="f117c11b-e838-a0eb-e4b0-88be7b4f2758" class="section hero">
  <div class="div-baseline"><img src="/images/logo.png" data-w-id="458db7a9-b972-4d51-f373-86d0763ab1bc" style="opacity:0;-webkit-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="hero-logo">
    <div data-w-id="d55a193c-60db-eda4-2514-bf99862d2c62" style="opacity:0" class="text-date">April 15 to 17 2019 - Hôtel Rimouski</div>
    <a href="#appel" data-w-id="27934c59-3448-b2ae-8fc3-e04801fd3c3e" style="opacity:0" class="button w-inline-block">
      <div>PARTICIPATE IN THE CALL FOR PRESENTATION</div>
    </a>
  </div>
  <div class="div-background-hero"><img src="/images/white.png" srcset="images/white-p-500.png 500w, images/white-p-800.png 800w, images/white-p-1080.png 1080w, images/white-p-1600.png 1600w, images/white-p-2000.png 2000w, images/white-p-2600.png 2600w, images/white-p-3200.png 3200w, images/white.png 3812w" sizes="100vw" data-w-id="110655bf-4d65-bbe1-09c0-744c9c89e17d" style="opacity:0" alt="" class="background-image"></div>
  <div class="div-sponsors-hero">
    <div data-w-id="96098b8d-4fd6-1218-71ad-b399adbe0f61" style="opacity:0" class="div-50 sponsor">
      <div>Co-organised with  :</div><a href="http://www.cidco.ca/" target="_blank" class="link-sponsor w-inline-block"><img src="/images/cidco_blanc.png" alt=""></a><a href="http://www.cgq.qc.ca/fr/" target="_blank" class="link-sponsor w-inline-block"><img src="/images/cgo.png" alt=""></a></div>
    <div data-w-id="27a6c7cf-6cb1-b19d-36dd-fadab3e40cf1" style="opacity:0" class="div-50 sponsor">
      <div>In partnership with :</div><a href="https://tmq.ca/" target="_blank" class="link-sponsor tmq w-inline-block"><img src="/images/TMQ_blanc.png" alt=""></a></div>
  </div>
</div>
<div data-w-id="5eb35e03-5ad6-3ed8-1a5b-85428d4f2b8a" style="display:none" class="sections-container">
  <div id="about" class="section yellow">
    <div class="div-about-content">
      <div data-w-id="1a67e99b-530c-52f3-e7ee-d319df83d861" style="opacity:0" class="div-50 text">
        <div class="subtitle">About the context<br></div>
        <div class="title">VECTOR SYMPOSIUM 2019</div>
        <div>The VisionGÉOMATIQUE and CIDCO Symposium events merge this year to create VECTOR. This conference is organized by the Centre de géomatique du Québec (CGQ) and CIDCO in partnership with Technopole Maritime du Québec (TMQ).<br><br>VECTOR will be a unique opportunity for stakeholders in geomatics and hydrography to meet and discuss themes and issues affecting the diverse spheres of activity. A wide variety of conferences and activities will allow participants to make the most of their participation.<br><br><strong>VECTOR will be held in Rimouski from April 15 to 17, 2019.</strong></div>
        <a href="#inscription" class="button margin w-inline-block">
          <div>Sign up</div>
        </a>
      </div>
      <div class="div-50 pictures">
        <div data-w-id="621f0338-cac7-41f0-6890-b0458dfb52de" style="opacity:0" class="div-picture first" data-ix="div-picture-moving-loop"><img src="/images/seventh.jpg" srcset="/images/seventh-p-500.jpeg 500w, /images/seventh-p-800.jpeg 800w, /images/seventh.jpg 1000w" sizes="(max-width: 479px) 55vw, (max-width: 767px) 57vw, (max-width: 991px) 54vw, (max-width: 3703px) 27vw, 1000px" alt=""></div>
        <div data-w-id="31363c48-fc80-3396-c0b6-ec6c64434dcd" style="opacity:0" class="div-picture third" data-ix="div-picture-moving-loop"><img src="/images/FP-CIDCO_2017-13.jpg" srcset="/images/FP-CIDCO_2017-13-p-1080.jpeg 1080w, /images/FP-CIDCO_2017-13-p-1600.jpeg 1600w, /images/FP-CIDCO_2017-13-p-2000.jpeg 2000w, /images/FP-CIDCO_2017-13-p-2600.jpeg 2600w, /images/FP-CIDCO_2017-13-p-3200.jpeg 3200w, /images/FP-CIDCO_2017-13.jpg 3596w" sizes="(max-width: 479px) 41vw, (max-width: 767px) 43vw, (max-width: 991px) 41vw, 20vw" alt=""></div>
        <div data-w-id="fbb62486-d9bb-c86a-3c5f-079c42d9a472" style="opacity:0" class="div-picture second" data-ix="div-picture-moving-loop"><img src="/images/FP-CIDCO_2017-28.jpg" srcset="/images/FP-CIDCO_2017-28-p-500.jpeg 500w, /images/FP-CIDCO_2017-28-p-800.jpeg 800w, /images/FP-CIDCO_2017-28.jpg 863w" sizes="(max-width: 479px) 64vw, (max-width: 767px) 66vw, (max-width: 991px) 63vw, 32vw" alt=""></div>
      </div>
    </div>
    <div class="div-background"><img src="/images/white.png" srcset="/images/white-p-500.png 500w, /images/white-p-800.png 800w, /images/white-p-1080.png 1080w, /images/white-p-1600.png 1600w, /images/white-p-2000.png 2000w, /images/white-p-2600.png 2600w, /images/white-p-3200.png 3200w, /images/white.png 3812w" sizes="100vw" alt="" class="background-image"></div>
  </div>


  <!-- NEWS -->
  <div id="news" class="section">
    <div id="w-node-b6c2b97487c5-f0f8941b" class="div-background"><img src="/images/white.png" srcset="/images/white-p-500.png 500w, /images/white-p-800.png 800w, /images/white-p-1080.png 1080w, /images/white-p-1600.png 1600w, /images/white-p-2000.png 2000w, /images/white-p-2600.png 2600w, /images/white-p-3200.png 3200w, /images/white.png 3812w" sizes="100vw" alt="" class="background-image sujets"></div>
    <div class="div-sujets-content">
      <div data-w-id="48f608df-2afe-fce5-a438-b6c2b97487c8" style="opacity:0">
        <div class="title yellow">News</div>
      </div>

      <!-- Blog posts -->
      <div class="div-nouvelles-container">
        <% dato.publications.each do |publication| %>
        <% if publication.langue.title == "en" %>
        <% if publication.section.titre == "Nouvelles" %>
            <a href="/en/<%= publication.section.anglais %>/<%= publication.slug %>" class="div-nouvelle-block w-inline-block">
              <div class="nouvelle-heading"><%= publication.titre %></div>
              <% if publication.ajouter_une_date == true %><div class="nouvelle-date"><%= publication.date %></div><% end %>
              <div>
              <% publication.contenu.each do |contenu| %>
              <% if contenu.item_type.api_key == "intro" %>
              <%= contenu.description %>
              <% end %>
              <% end %></div>
            </a>
          <% end %>
        <% end %>
        <% end %>

      </div>

      </div>
      <a href="#" class="button margin w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-inline-block" data-ix="plus-darticles">
        <div>See more articles</div>
      </a>
    </div>
  </div>


  <div id="appel" class="section white">
    <div class="div-about-content reverse">
      <div data-w-id="aeb8cb20-7230-a813-60f6-4a641142b177" style="opacity:0" class="div-50 text">
        <div class="subtitle">Call for presentation <br></div>
        <div class="title yellow">SHARE YOUR<br>KNOWLEDGE</div>
        <div>Private or public partners, researchers and students : present your conference proposal now!<br><br>The deadline for the call for presentation is <strong>February 18, 2019.</strong></div>
        <a href="https://tmq.ca/en/formulaire/call-for-papers-form-vector-symposium-2019/" target="_blank" class="button white w-inline-block">
          <div>call for presentation <br></div>
        </a>
      </div>
      <div data-w-id="aeb8cb20-7230-a813-60f6-4a641142b188" style="opacity:0" class="div-50 pictures-reverse">
        <div data-w-id="aeb8cb20-7230-a813-60f6-4a641142b189" style="opacity:0" class="div-picture fourth" data-ix="div-picture-moving-loop"><img src="/images/FP-CIDCO_2017-20.jpg" alt=""></div>
        <div data-w-id="aeb8cb20-7230-a813-60f6-4a641142b18a" style="opacity:0" class="div-picture fifth" data-ix="div-picture-moving-loop"><img src="/images/FP-CIDCO_2017-08.jpg" alt=""></div>
        <div data-w-id="aeb8cb20-7230-a813-60f6-4a641142b18b" style="opacity:0" class="div-picture sixth" data-ix="div-picture-moving-loop"><img src="/images/FP-CIDCO_2017-03.jpg" alt=""></div>
      </div>
    </div>
    <div class="div-background"><img src="/images/grey.png" srcset="/images/grey-p-500.png 500w, /images/grey-p-800.png 800w, /images/grey-p-1080.png 1080w, /images/grey-p-1600.png 1600w, /images/grey-p-2000.png 2000w, /images/grey-p-2600.png 2600w, /images/grey.png 3812w" sizes="100vw" alt="" class="background-image grey"></div>
  </div>
  <div id="program" class="section">
    <div id="w-node-dadac26dad4c-f0f8941b" class="div-background"><img src="/images/white.png" srcset="/images/white-p-500.png 500w, /images/white-p-800.png 800w, /images/white-p-1080.png 1080w, /images/white-p-1600.png 1600w, /images/white-p-2000.png 2000w, /images/white-p-2600.png 2600w, /images/white-p-3200.png 3200w, /images/white.png 3812w" sizes="100vw" alt="" class="background-image sujets"></div>
    <div class="div-sujets-content">
      <div data-w-id="3aaf7c76-8d7a-d2d6-e3b9-06656591396b" style="opacity:0">
        <div class="subtitle">2019 topics<br></div>
        <div class="title yellow">MORE THAN 30 SPEAKERS<br></div>
        <div>VECTOR will address several topics of importance in the fields of geomatics and hydrography :</div>
      </div>
      <div class="div-liste-container">
        <div data-w-id="49b851bc-feb2-2f69-fa38-295226321e24" style="opacity:0" class="div-50 sujets">
          <div class="text-sujets">Satellite bathymetry</div>
          <div class="text-sujets">Drone - specialized application</div>
          <div class="text-sujets">Deep Learning and Artificial Intelligence</div>
          <div class="text-sujets">Hydrography and collaborative mapping (crowdsourcing)</div>
          <div class="text-sujets">Geomatics and connected objects</div>
          <div class="text-sujets">Bathymetric LiDAR</div>
          <div class="text-sujets">Infrastructure Inspection</div>
          <div class="text-sujets">Coastal erosion</div>
        </div>
        <div data-w-id="c4ca657a-a721-4213-9c92-f518a64eece3" style="opacity:0" class="div-50 sujets">
          <div class="text-sujets">Climate change</div>
          <div class="text-sujets">Precision farming</div>
          <div class="text-sujets">Imaging and Earth observation</div>
          <div class="text-sujets">Smart City</div>
          <div class="text-sujets">Acoustic reflectivity (backscatter)</div>
          <div class="text-sujets">Geomatics applied to tourism</div>
          <div class="text-sujets">Traceability tools and blockchain</div>
        </div>
      </div>
      <div data-w-id="f63de88e-18b8-bee6-b2de-645aae7daff2" style="opacity:0">
        <div>The event will present several sessions in parallel, offering each participant a complete and flexible experience according to these interests. Some conferences will benefit from simultaneous interpretation services in French and English.</div>
        <a href="#" class="button margin w-inline-block">
          <div>COMPLETE PROGRAM SOON</div>
        </a>
      </div>
    </div>
  </div>
  <div id="inscription" class="section white">
    <div class="div-about-content">
      <div data-w-id="75abca0b-4f8e-2a29-edab-4e2bc67e9474" style="opacity:0" class="div-50 text">
        <div class="div-inscription-container">
          <div class="title-2">Early registration and TMQ, ACH members<strong><br></strong></div>
          <div>Deadline for registration : <strong>until March 15 2019<br></strong></div>
          <div>Registration - preferential rate : <strong>295,00$<br></strong></div>
          <div>Registration lecturers and students - preferential rate : <strong>95,00$</strong>  <strong><br></strong></div>
        </div>
        <div class="div-inscription-container">
          <div class="title-2">Regular registrations<strong><br></strong></div>
          <div>Deadline for registration : <strong>until March 15 2019</strong><strong><br></strong></div>
          <div>Regular inscription : <strong>375,00$<br></strong></div>
          <div>Student and speaker inscription :<strong> 120,00$</strong><br></div>
        </div>
        <div class="div-inscription-container">
          <div class="title-2"><strong>Networking evenings<br></strong></div>
          <div>Icebreaker Party, April 15 : <strong>Inclus<br></strong></div>
          <div>Networking evening, April 16 : <strong>75,00$<br></strong></div>
        </div>
        <a href="#" class="button white w-inline-block">
          <div><strong>REGISTRATION FORM COMING SOON</strong></div>
        </a>
      </div>
      <div data-w-id="75abca0b-4f8e-2a29-edab-4e2bc67e94ae" style="opacity:0" class="div-50 pictures">
        <div data-w-id="75abca0b-4f8e-2a29-edab-4e2bc67e94af" style="opacity:0" class="div-picture first" data-ix="div-picture-moving-loop"><img src="/images/IMG_20181021_122015766_HDR.jpg" srcset="/images/IMG_20181021_122015766_HDR-p-500.jpeg 500w, /images/IMG_20181021_122015766_HDR-p-800.jpeg 800w, /images/IMG_20181021_122015766_HDR.jpg 1000w" sizes="(max-width: 479px) 55vw, (max-width: 767px) 57vw, (max-width: 991px) 54vw, (max-width: 3703px) 27vw, 1000px" alt=""></div>
        <div data-w-id="75abca0b-4f8e-2a29-edab-4e2bc67e94b1" style="opacity:0" class="div-picture third" data-ix="div-picture-moving-loop"><img src="/images/IMG_20170510_093750.jpg" srcset="/images/IMG_20170510_093750-p-500.jpeg 500w, /images/IMG_20170510_093750-p-800.jpeg 800w, /images/IMG_20170510_093750.jpg 1000w" sizes="(max-width: 479px) 41vw, (max-width: 767px) 43vw, (max-width: 991px) 41vw, (max-width: 5000px) 20vw, 1000px" alt=""></div>
        <div data-w-id="75abca0b-4f8e-2a29-edab-4e2bc67e94b3" style="opacity:0" class="div-picture second" data-ix="div-picture-moving-loop"><img src="/images/FP-CIDCO_2017-57.jpg" srcset="/images/FP-CIDCO_2017-57-p-500.jpeg 500w, /images/FP-CIDCO_2017-57-p-800.jpeg 800w, /images/FP-CIDCO_2017-57.jpg 863w" sizes="(max-width: 479px) 64vw, (max-width: 767px) 66vw, (max-width: 991px) 63vw, 32vw" alt=""></div>
      </div>
    </div>
    <div class="div-background"><img src="/images/grey.png" srcset="/images/grey-p-500.png 500w, /images/grey-p-800.png 800w, /images/grey-p-1080.png 1080w, /images/grey-p-1600.png 1600w, /images/grey-p-2000.png 2000w, /images/grey-p-2600.png 2600w, /images/grey.png 3812w" sizes="100vw" alt="" class="background-image grey"></div>
  </div>
